# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# build files #
/SpringMVCSample1/target
/SpringMVCSample1/.idea
/SpringMVCSample2/target
/SpringMVCSample2/.idea

*.iml